* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #409eff;
}

.vh100 {
    height: 100vh;
}

.border-top {
    border-top: 1px solid #dcdfe6;
}

.border-bottom {
    border-bottom: 1px solid #dcdfe6;
}

.border-right {
    border-right: 1px solid #dcdfe6;
}

.pt20 {
    padding-top: 20px;
}